{% extends "base.html" %}

{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %} {{ instance.title }} | {{ block.supper }} {% endblock head_title %}
{% block content %}

<div class="row">
<div class="col-sm-8 col-sm-offset-4">
<h1>{{ instance.title }} <small>{% if instance.draft %} <span style="red;"></span>{% endif %}{{ instance.publish}}</small></h1>
	<img src="{{ instance.image.url }}" class="img-responsive">

 <div class="post-detail-item">
		{{ instance.get_markdown }}
	</div>


<p>Author: {{ instance.user }}<br/>
<p>
<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>

<p class="lead">Comments</p>
	
<form method="POST" action=".">{% csrf_token %}
	{{ comment_form|crispy }}
	<input type="submit" value="Post comment" class="btn btn-default">
	</form>
	<hr/>
	{% for comment in comments %}

		<blockquote>
			
			<p>{{ comment.content }}</p>

			<footer>Via {{ comment.user }} | {{ comment.timestamp|timesince }} ago</footer>
	</blockquote>

			<!-- Replies -->
		<blockquote>
			{% for child_comment in comment.children %}
			
			<p>{{ child_comment.content }}</p>

			<footer>Via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
		</blockquote>
		{% endfor %}

	<form method="POST" action=".">{% csrf_token %}
		{{ comment_form|crispy }}
		<input type="hidden" name="parent_id" value="{{ comment.id }}">
		<input type="submit" value="Reply" class="btn btn-default">
	</form>
			<hr/>
			{% endfor %}
</div>
 
<!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }} data-numposts="5"></div>
 --></p>
</div>
</div>
{% endblock content %}