boto3==1.16.63
botocore==1.19.63
Django==2.0.10
django-crispy-forms==1.7.2
django-filter==2.1.0
django-markdown-deux==1.0.5
django-pagedown==1.0.6
django-storages==1.9.1
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
jmespath==0.10.0
Markdown==3.0.1
markdown2==2.3.7
Pillow==8.3.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
PyJWT==1.7.1
python-dateutil==2.8.2
pytz==2018.9
s3transfer==0.3.7
six==1.16.0
urllib3==1.25.7
